exercicio1/bin/Debug/net5.0/exercicio1.deps.json
exercicio1/bin/Debug/net5.0/exercicio1.dll
exercicio1/bin/Debug/net5.0/exercicio1.exe
exercicio1/bin/Debug/net5.0/exercicio1.pdb
exercicio1/bin/Debug/net5.0/exercicio1.runtimeconfig.dev.json
exercicio1/bin/Debug/net5.0/exercicio1.runtimeconfig.json
exercicio1/bin/Debug/net5.0/ref/exercicio1.dll
